<div id="portfolio-table" class="table-container">
    <table class="data-table">
        <thead>
            <tr>
                <th>Актив A</th>
                <th>Актив B</th>
                <th>Корреляция</th>
                <th>Коинтеграция</th>
                <th>Полупериод</th>
                <th>Рейтинг</th>
            </tr>
        </thead>
        <tbody id="portfolio-tbody">
            <tr><td colspan="6" class="loading-cell"><div class="loading-spinner"></div></td></tr>
        </tbody>
    </table>
</div>
